//DEFINE BASIC ELEMENTS

html {
  font-family: $siteFont;
  background: #000;
}

body {
  text-rendering: optimizeLegibility;
  font-family: $siteFont;

  &.no-scroll {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
  }
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

h1,h2,h3,h4 {
  font-family: $siteFont_alt; 
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

h1 {
  font-size: 64px;
  line-height: 56px;
  margin: 0 0 16px 0; 
  
  @media #{$medium} { 
    font-size: 96px;
    line-height: 88px;
  }
}

h2 {
  font-size: 56px;
  line-height: 48px;
  margin: 24px 0 16px 0;
  
  @media #{$medium} { 
    font-size: 72px;
    line-height: 64px;
  }
  
  &.alt {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 0 8px 0;
    
    span {
      margin: 0 auto;
      position: relative;
      background: $white;
      padding: 0 3.5%;
      z-index: 900;
      display: inline-block;
    }
    
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: $jump_grey;
      opacity: .25;
      top: 24px;
      left: 0;
      right: 0;
      
      @media #{$medium} { 
        top: 36px; 
      }
    }
    
  }
}
h3 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 24px 0;
  
  @media #{$medium} { 
    font-size: 40px;
    line-height: 40px; 
  }
}

h4 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 8px 0; 
}

p {
  font-weight: 300; 
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.std-form-container {
  position: relative;
}

.std-from-success {
  opacity: 0;
  visibility: hidden;
  transition: $transition-in;
  position: absolute;
  top: 0;

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transition: $transition-out;
  }
}

.std-form {
  font-family: $siteFont;
  opacity: 1;
  visibility: visible;
  transition: $transition-in;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    transition: $transition-out;
  }

  input,
  textarea {
    box-sizing: border-box;
    font-family: $siteFont;
    display: block;
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid #dedede;
    padding: 8px 10px;

    &.error {
      border-color: $jump_red;
    }
  }

  button {
    -webkit-appearance: none;
    border: none !important;
    color: #fff !important;
    font-family: $siteFont;
    cursor: pointer;
  }
}

.std-form__field {
  margin-bottom:16px;
}
