//DEFINE BASIC ELEMENTS

html {
  font-family: $siteFont;
}

body {
  text-rendering: optimizeLegibility;
  font-family: $siteFont;
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 600;
}

h1,h2,h3,h4 {
  font-family: $siteFont_alt; 
  text-transform: uppercase;
  font-weight: 600;
  padding: 0;
}

h1 {
  font-size: 64px;
  line-height: 56px;
  margin: 0 0 16px 0; 
  
  @media #{$medium} { 
    font-size: 96px;
    line-height: 88px;
  }
}

h2 {
  font-size: 56px;
  line-height: 48px;
  margin: 24px 0 16px 0;
  
  @media #{$medium} { 
    font-size: 72px;
    line-height: 64px;
  }
  
  &.alt {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 0 8px 0;
    
    span {
      margin: 0 auto;
      position: relative;
      background: $white;
      padding: 0 3.5%;
      z-index: 900;
      display: inline-block;
    }
    
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background: $jump_grey;
      opacity: .25;
      top: 24px;
      left: 0;
      right: 0;
      
      @media #{$medium} { 
        top: 36px; 
      }
    }
    
  }
}
h3 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 24px 0;
  
  @media #{$medium} { 
    font-size: 40px;
    line-height: 40px; 
  }
}

h4 {
  font-size: 32px;
  line-height: 32px;
  margin: 0 0 8px 0; 
}

p {
  font-weight: 300; 
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 24px 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

