.l-site-wrapper {
  position: relative;
  transition: $transition-in;

  &.is-open {
    transform: translateX(-260px);
    transition: $transition-out;
  }
}

//DEFINE LAYOUT ELEMENTS
.l-band {
  display: block;
  width: 100%;
  padding: 80px 6% 40px;
  box-sizing: border-box;
  @media #{$small} {
    padding: 80px 8% 160px;
  }
  @media #{$xl} {
    padding: 80px 16% 160px;
  }
}

.l-contain {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: block;
  z-index: 900;
  overflow: hidden;
}

.c-tabs {
  overflow: hidden;
  margin: 48px 0;
  z-index: 900;
  position: relative;
  input {
    display: none;
    &:checked+label {
      background: $black;
      color: $white;
      cursor: default;
    }
    &:nth-of-type(1):checked~.c-tab:nth-of-type(1),
    &:nth-of-type(2):checked~.c-tab:nth-of-type(2),
    &:nth-of-type(3):checked~.c-tab:nth-of-type(3),
    &:nth-of-type(4):checked~.c-tab:nth-of-type(4) {
      display: block;
    }
  }
  label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    float: left;
    cursor: pointer;
    padding: 16px 0;
    background: rgba(0, 0, 0, 0.24);
    color: $white;
    width: 23.5%;
    margin: 0 1%;
    text-transform: uppercase;
    &:last-of-type {
      margin-right: 0;
    }
    &:first-of-type {
      margin-left: 0;
    }
    border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    -webkit-border-radius: $border-radius;
    &:hover {
      background: $black;
    }
  }
}

.c-tab {
  display: none;
  clear: left;
  width: 100%;
  padding: 88px 0 0 0;
}

.l-half-left,
.l-half-right {
  box-sizing: border-box;
  width: 100%;
  display: block;
  margin-bottom: 72px;
  @media #{$large} {
    width: 50%;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 24px;
    margin-top: 0;
  }
}

.l-half-left {
  padding-right: 0;
  float:none;
  @media #{$large} {
    padding-right: 8%;
    float: left;
  }
}

.l-half-right {
  padding-left: 0;
  float: none;
  @media #{$large} {
    padding-left: 2%;
    float: right;
  }
}

.c-btn {
  border: 1px solid rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  padding: 16px 56px;
  display: inline-block;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 16px;
  border-radius: $border-radius;
  text-align: center;
  
  &:hover {
    border: 1px solid rgba(255,255,255,0.75); 
    color: rgba(255,255,255,0.75);
  }
  
  &.alt {
    padding: 12px 24px 14px;
    background: $jump_red;
    margin-top: 10px;
    border: none;
    color: $white;
    font-size: 12px;
    font-weight: 400;
    
    &:hover {
      background: $jump_dark-red;
      color: $white;
    }
  }
}

.c-numbered-list, .c-starred-list {
  margin: 0;
  display: block;
  position: relative;
  overflow: hidden;
  padding-right: 0;
  li {
    vertical-align: top;
    color: $white;
    margin-bottom: 24px;
    clear: left;
    .u-circle-number {
      border-radius: 100%;
      background: $black;
      color: $white;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      line-height: 40px;
      text-align: center;
      font-weight: 600;
      float: left;
      margin-top: 4px;
    }
    p {
      margin-left: 64px;
    }
  }
}

.c-starred-list {
  margin-top: 32px;
  li {
    p {
      margin-left: 40px; 
    }
  }
  svg {
    display: block;
    float: left;
    margin-top: 4px;
    margin-right: 16px; 
  }
}

.the-problem-fire {
  
  padding-bottom: 96px;
  
  
}

.l-thirds {
  margin: 40px 0 0;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  float: left;
  div {
    width: 100%;
    padding: 0;
    float: none;
    
    &.percentages {
      font-size: 96px;
      line-height: 96px;
      font-weight: 800;
      padding-top: 32px;
      padding-bottom: 32px;
      color: $jump_red;
      
      span {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: rgba(0,0,0,0.5);
        display: block;
        padding: 0 16px;
        margin-top: 16px;
        
        &.percentage {
          font-size: 72px;
          font-weight: 800;
          color: $jump_red;
          display: inline;
          padding: 0;
        }
      }
    }
    
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
    a {
      display: block;
      background: rgba(0, 0, 0, 0);
      padding: 40px 8%;
      box-sizing: border-box;
      border-radius: $border-radius;
      h3 {
        margin-bottom: 8px;
        clear: left;
      }
      p {
        color: $jump_grey;
      }
    }
    &:hover a {
      background: rgba(0, 0, 0, .032);
    }
    @media #{$medium} {
      width: 30.666666667%;
      padding: 0 2%;
      float: left;
    }
  }
}


//SCRATCH

.edge--top--reverse, .edge--both--reverse {
  padding-top: 104px; 
}
.edge--bottom {
  padding-bottom: 200px; 
}

.the-problem-fire {
  div.percentages, span.percentage {
    color: $jump_red!important;
  }
}
.the-problem-police {
  div.percentages, span.percentage {
    color: $jump_blue!important;
  } 
}
.the-problem-military {
  div.percentages, span.percentage {
    color: $jump_gold!important;
  } 
}

.how-it-works {
  padding-bottom: 120px;
  
  .triangle {
    position: absolute;
    bottom: 0;
    z-index: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 240px 720px;
    border-color: transparent transparent #aa1b20 transparent;
  }
}

.proven-results {
  
  h2, .u-subtitle {
    text-align: center;
    
    @media #{$small} {
      text-align: left;
    }
  }
  
  .l-half-left, .l-half-right {
    margin-top: 80px; 
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    
    @media #{$small} {
      padding-left: 8%;
      padding-right: 8%;
    }
    
    .logo-contain {
      margin-bottom: 32px; 
      height: 80px;
      
      img {
        width: 280px; 
      }
    }
  }
}

.programs {
  padding-top: 80px; 
  
  @media #{$medium} {
    padding-top: 40px;    
  }
}

.gravity-home, .footer, .gravity-interior {
  background: $black!important;
  padding-bottom: 120px;
  padding-top: 96px;
  overflow: hidden; 
  
  .l-half-left {
    max-width: 100%;
    margin-bottom: 48px;
    padding-right: 0;
    
    @media #{$medium} {
      max-width: 50%;
      padding-right: 8%;
    }
  }
}

.gravity-home {
  
  padding-bottom: 40px;
  padding-top: 80px;
  
  p {
    margin-bottom: 0;
  }
  
  @media #{$medium} {
    background: url("i/gravity_test.jpg") no-repeat bottom center!important;
    background-size: cover!important;
    padding-bottom: 176px;
    padding-top: 120px;
  }
}

.gravity-fire {
  background: $jump_red!important;
  overflow: hidden;
  padding-bottom: 64px;

  p {
    margin-bottom: 0; 
  }
  
  h2 {
    margin-top: 0; 
  }
  
  @media #{$medium} {
    background: url("i/fire-gravity_test.jpg") no-repeat bottom center!important;
    background-size: cover!important;
    padding-bottom: 176px;
    padding-top: 120px;
  }
  
  .l-half-left {
    max-width: 100%;
    margin-bottom: 48px;
    padding-right: 0;
    
    @media #{$medium} {
      max-width: 45%;
      padding-right: 8%;
    } 
  }
  
  .l-half-right {
    padding: 0;
    
    div {
      width: 80px;
      
      svg {
        width: 100%;
        display: block;
        text-align: right;
        height: 100%;
      }
    }
  }  
}

.mobile-gravity-image {
  display: block;
  
  img {
    width: 100%;
    display: block;
  }
  
  @media #{$medium} {
    display: none; 
  }
}

.footer {    
  text-align: left;
  padding: 80px 6% 40px!important;
  
  .u-small-text {
    clear: left;
    margin-top: 48px;
  }
  
  .l-half-left {
    padding-right: 0!important; 
  }
  .c-btn {
    border: none;
    background: rgba(255,255,255,0.1);
    color: rgba(255,255,255,1);
    font-weight: 400;
    text-transform: none;
    padding: 14px 24px 15px;
    float: left;
    clear: left;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    text-align: left;
    
    @media #{$small} {
      width: 220px;
      padding: 14px 16px 15px;
    }
    
    &:hover {
      color: rgba(255,255,255,0.75);
    }
  }
  
  .footer-btns {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    
    @media #{$small} {
      margin: 40px 0;
    }
  }
  
  .footer-logo {
    float: left;
    clear: left;
    margin: 24px 0 0 0;
    width: 48px;
    
    @media #{$small} {
      margin: -16px 0 0 -16px;
    }
    
    svg {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .footer-address {
    overflow: hidden;
    margin-left: 64px;
    margin-top: 40px;
    
    @media #{$small} {
      margin-left: 56px;
    }
    
    p {
      display: block;
      margin: 0;
      float: left;
      color: $white!important; 
    }
  }
  
  @media #{$medium} {
    background: url("i/footer_test.jpg") no-repeat bottom center!important;
    background-size: cover!important;
    padding-bottom: 176px;
    padding-top: 120px;
  }
}

.c-btn_icon {
  width: 24px;
  float: left;
  margin-right: 16px;
  
  svg {
    width: 100%;
    display: block;
  }
}

.c-icon {
  display: block;
  margin: 0 auto 24px;
  width: 100%!important;
  height: 40px;
  display: -webkit-flex; /* Safari */  
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

svg.l-inline-svg {
  float: none;
  width: 100%;
  display: block;
  margin: 0 0 40px 0;
  
  @media #{$small} {
    float: right;
    width: 35%;
    margin: 0 0 24px 16px;
  }
}

header {
  padding-top: 16px!important;
  padding-bottom: 16px!important;
  width: 100%;
  display: flex !important;
  justify-content: space-between;
  box-sizing: border-box;
  position: relative;

  @media #{$medium} {
    padding-bottom: 0!important;
  }

  svg.logo {
    width: 184px; 
    margin-left: -8px;
    
    @media #{$small} {
      width: 240px;
      margin-left: -20px;
    }
    
    @media #{$medium} {
      margin-left: -56px;
    }
  }
  
  .main-navigation {
    display: none;
    
    @media #{$medium} {
      display: block;
    }
    
    li {
      display: inline-block;
      position: relative;
      margin-left: 48px;
      white-space: nowrap;
      padding-bottom: 40px;

      &.no-padding {
        padding-bottom:0;
      }

      &:hover {
        .main-navigation__sub-menu {
          visibility: visible;
          opacity: 1;
        }
      }
      
      a {
        color: $white;
        
        &:hover {
          color: $jump-red; 
        }
      }
    }
  }
  
  .main-navigation__sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 58px;
    left: 50%;
    margin-left: -110px;
    background: $jump_red;
    text-align: center;
    padding: 45px 0 35px;
    min-width: 220px;

    li {
      display: block;
      margin-left: 0;
      padding-bottom: 16px;
    }
  }
  
  nav.mobile-navigation {
    display: block;
    float: right;
    margin-top: 24px;
    
    &:hover {
      cursor: pointer;
    }
    
    @media #{$medium} {
      display: none;
    }
  }
}

.gravity-icon {
  display: inline-block;
  width: 48px;
  margin-right: 16px;
  
  svg {
    width: 100%;
    display: block;
    text-align: left;
    height: 100%;
  }
}

.get-involved {
  
  .l-contain {
    padding: 0 0 40px 0;
    box-sizing: border-box;
    
    @media #{$small} {
      
      padding: 40px 16% 0;
    }
    @media #{$medium} {
      padding: 64px 16% 0;
    }
  }
  
  h2 {
    color: $black!important;
    
    &.alt {
      &:after {
        display: none; 
      }
    }
  }
}

.c-team {
  
  h2 {
    margin-top: 120px; 
    margin-bottom: 72px;
  }
    
  .c-team-member {
    
    margin: 0 0 80px;
  
    
    .c-team-member-image {
      width: 200px;
      margin-top: 24px;
      
      @media #{$medium} {
        width: 240px
      }
    }
    
    h3 {
      margin-bottom: 0; 
    }
    .u-subtitle {
      color: $jump_red;
      margin: 8px 0 24px 0;
      display: block;
      font-size: 16px;
    }
    .l-one-third {
      float: none; 
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 40px;
      text-align: left;
      
      @media #{$medium} {
        float: left; 
        width: 33.333333333%;
        text-align: center;
      }
    }
    .l-two-third {
      float: none;
      width: 100%;
      box-sizing: border-box;
      padding-left: 0;
      @media #{$medium} {
        float: right;
        width: 66.666666667%;
        padding-left: 40px;
      }
    }
    
    &:nth-child(even) {
      .l-one-third {
        float: right;
      }
      .l-two-third {
        float: left;
        padding-right: 0;
        
        @media #{$medium} {
          padding-right: 40px;
          padding-left: 0;
        }
      }
    }
  }
}
.advisors {
  
  .c-team-member {
    margin: 0 0 80px;
    
    @media #{$medium} {
      margin: 0;
    }
  }
  
  .c-team-member-image {
    width: 160px!important;
    margin-bottom: 16px;
  }
}


