//fonts
$siteFont: 'Montserrat', sans-serif;
$siteFont_alt: 'Saira Extra Condensed', sans-serif;


//Media Queries
$small:  "screen and (min-width : 480px)";
$medium:  "screen and (min-width : 960px)";
$large: "screen and (min-width : 1024px)";
$xl: "screen and (min-width : 1440px)";

//Misc
$border-radius: 3px;