//fonts
$siteFont: 'Montserrat', sans-serif;
$siteFont_alt: 'Saira Extra Condensed', sans-serif;


//Media Queries
$custom_2: "screen and (min-width : 480px)";
$small:  "screen and (min-width : 600px)";
$custom_1: "screen and (min-width : 640px)";
$medium: "screen and (min-width : 1024px)";
$large: "screen and (min-width : 1440px)";



//Misc
$border-radius: 3px;
$transition-in: .3s ease-in;
$transition-out: .3s ease-out;